@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --bg: 13, 12, 12;
  --fg: 197, 201, 229;
  --link: 147, 138, 169;
  --bc: 23, 22, 23;
}

html,
body {
  width: 50vw;
  background: rgb(var(--bg));
  color: rgb(var(--fg));
  line-height: 1.5rem;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  color: rgb(var(--link));
  font-weight: bold;
}

.smol {
  border-left: 1px solid rgb(var(--fg));
  padding-left: 0.25rem;
  font-size: small;
}

.smol div {
  padding-left: 0.375rem;
}

#bc {
  background: rgb(var(--bc));
  padding: 0.5rem;
}

@media only screen and (max-width: 768px) {

  html,
  body {
    width: 95vw;
  }
}

#quotes q {
  font-style: italic;
}

#quotes li {
  margin-bottom: 10px;
}