---
import Layout from "../layouts/Layout.astro";
---

<Layout title="[ABOUT REDACTED]">
  <section>
    <h2 class="text-lg md:text-xl mb-3">[ABOUT]</h2>
    <p>
      i like cats, music and tech stuff. currently working, studying & learning
      systems programming alongside.
    </p>

    <hr class="my-6" />

    <ul class="flex flex-col gap-y-1 text-sm md:text-base">
      <li>&gt;[06] got first pc. played assassin's creed & san andreas</li>
      <li>&gt;[12] got curious about how games are made</li>
      <li>
        &gt;[12] explored web dev to get a fundamental knowledge of programming
      </li>
      <li>
        &gt;[13] learned html, css, and js. built some goofy and awful looking
        websites
      </li>
      <li>&gt;[14] WOW!! do whatever you wish to do with that pc</li>
      <li>&gt;[14] freelancing is a thing? *client.jpg* *money.png*</li>
      <li>&gt;[15] hacking?? *kali-linux.jpg*</li>
      <li>&gt;[16] LINUX IS KOOL!! YEAH!! TERMINAL!! *cmatrix* *hollywood*</li>
      <li>&gt;[16] script kiddie</li>
      <li>&gt;[16] *lockdown.mp4*</li>
      <li>&gt;[17] backend development is a thing? *npm install*</li>
      <li>&gt;[17] learned backend and databases</li>
      <li>&gt;[17] explored web security & CTFs</li>
      <li>&gt;[17] joined a CTF team played a couple of CTFs with them</li>
      <li>&gt;[17] left one and joined another team. played one with them</li>
      <li>&gt;[17] worked w/ a startup as frontend intern</li>
      <li>&gt;[18] *university.gif*</li>
      <li>
        &gt;[18] WTF IS THIS?? WHY IS EVERYONE GRINDING LEETCODE?? WTF IS THIS
        ENVIRONMENT??
      </li>
      <li>&gt;[18] *depression.mov* *anxiety.mov*</li>
      <li>&gt;[19] started coding again. js is depressing. golang? gopher?</li>
      <li>&gt;[19] random ahh internship</li>
      <li>&gt;[19] *happy-syk-n-frens.jpg*</li>
      <li>&gt;[20] full-stack engineer @ [REDACTED]</li>
    </ul>

    <hr class="my-6" />
  </section>

  <style></style>
</Layout>
