---
import Layout from "../layouts/Layout.astro";
---

<Layout title="[REDACTED POSTS]">
  <section>
    <h2 class="text-lg md:text-xl mb-3">[POSTS - WIP]</h2>
  </section>

  <hr class="my-6" />
</Layout>

<style></style>
