---
import "../styles/global.css";
---

<nav class="flex flex-col items-center justify-center w-full mb-6 md:mb-12">
  <ul class="flex items-center justify-evenly w-full">
    <li>
      <a href="/">[HOME]</a>
    </li>
    <li>
      <a href="/about">[ABOUT]</a>
    </li>
    <li>
      <a href="/posts">[POSTS]</a>
    </li>
    <li>
      <a href="/resources">[RESOURCES]</a>
    </li>
  </ul>
  <ul class="flex items-center justify-evenly w-full">
    <li>
      <a href="/moozik">[MUSIC??]</a>
    </li>
  </ul>
</nav>
<style></style>
